.main {
  width: 100%;
  max-width: 600px;
  margin: 20px auto 40px;
  font-family: sans-serif;
}

h1, .center {
  text-align: center;
}

img {
  width: 94%;
  margin: 10px auto 20px;
}

a.button {
  display: flex;
  background: #18A29B;
  width: 133px;
  height: 32px;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #292223;
  border-radius: 4px;
  text-decoration: none;
  color: #FAFBF6 !important;
  margin: 18px 0;
}

a.button:hover {
  background: #1dc2ba;
}

a {
  color: #13817c;
}

a:hover {
  color: #224093;
}