/**************

THEME COLORS

dark blue: #224093

***************/

/* Blog */

.blog h2 {
  text-align: left;
  margin: 10px 0 16px;
  font-size: 36px;
}

.blog h2 a,
.blog h3 a {
  text-decoration: none;
  color: #224093;
}

.blog h3 {
  color: #224093;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: .25px;
}

.blog .byline {
  color: #a8a8a8;
  font-size: 13px;
  margin: 0;
}

.blog .summary {
  margin-top: 6px;
  margin-bottom: 28px;
}

.blog li {
  margin-left: 40px;
  margin-bottom: 20px;
}

img.suurf-blog {
  width: 39px;
  margin: 0 -14px 0 0;
  transform: rotate(-12deg);
}

.main {
  width: 100%;
  max-width: 600px;
  margin: 20px auto 40px;
  font-family: sans-serif;
}

h1, h2, h3, .center {
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2, h3 {
  color: #1f3671;
}

h2 {
  font-size: 32px;
  width: 85%;
  margin: 3px auto;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  padding: 6px;
}

.presented {
  display: flex;
  width: 85%;
  margin: auto;
}

.coming-soon {
  text-transform: capitalize;
  text-align: center;
  font-size: 28px;
  margin: 30px 0 0;
}

p {
  font-size: 18px;
}

.i {
  font-style: italic;
}

.b {
  font-weight: bold;
}

img {
  width: 85%;
  margin: 10px auto 6px;
  display: block;
}

img.full {
  width: 100%;
  margin-top: 0;
}

a.button {
  display: inline-block;
  background: #18A29B;
  width: 133px;
  height: 32px;
  border: 1px solid #0e5b57;
  border-radius: 4px;
  text-decoration: none;
  color: #FAFBF6 !important;
  margin: 18px 0;
  text-align: center;
  line-height: 32px;
  margin-right: 15px;
}

a.button:hover {
  background: #1dc2ba;
}

a {
  color: #1D8E9B;
}

a:hover {
  color: #1f3671;
}

#countdown {
  margin-bottom: -2px;
  color: #1f3671;
  display: flex;
  justify-content: center;
}

#countdown ul {
  margin: 0;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

.home li {
  display: inline-block;
  font-size: 15px;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
}

li span {
  display: block;
  font-size: 27px;
}

.ouuc-logo {
  width: 70%;
  margin: 10px auto;
  display: block;
}
