.main {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  font-family: sans-serif;
}

a.button {
  display: flex;
  background: #94d1ff;
  width: 133px;
  height: 32px;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #3a3aba;
  border-radius: 4px;
  text-decoration: none;
  color: #3a3aba !important;
}